server {
    listen 80;
    listen [::]:80;
    server_name v2xb6205.nemotoken.fun;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 404;
    }
}
